.tweets {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: beige;
  padding-top: 1px;
}

.tweets--center {
  margin-top: 2rem;
  justify-content: center;
}

.tweets__title {
  text-align: center;
}

.tweets__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
}

.tweets__filter {
  display: flex;
  justify-content: space-around;

  margin: 0;
  padding: 0;
  height: 3rem;
}

button.active {
  background-color: rgb(193, 131, 25);
}
