.tweets {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: beige;
}

.tweets__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 20px;

}

.tweets__filter {
  display: flex;
  justify-content: space-around;

  margin: 0;
  padding: 0;
  height: 3rem;
}

button.active {
  background-color: rgb(193, 131, 25);
}
